#requests{
    -fx-background-color: #EEEEEE;
}

#users{
    -fx-background-color: white;
}



#declineall{
    -fx-background-color: #DB5461;
    -fx-text-fill: white;
        -fx-padding: 6 6 6 6;
        -fx-border-radius: 8;
        -fx-font-weight: bold;
}
#acceptall{
    -fx-background-color: #00A676;
    -fx-text-fill: white;
    -fx-padding: 6 6 6 6;
    -fx-border-radius: 8;
    -fx-font-weight: bold;
}

#previous{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 6 6 6 6;
    -fx-border-radius: 8;
}

#next{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 6 6 6 6;
    -fx-border-radius: 8;
}